# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL
4. Julia
5. Java

**Some of the commonly used libraries by Data Scientists include:**
* Pandas
* NumPy
* Matplotlib
* Scikit-learn
* TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers.
(5 * 4) + 10

30

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries in Data Science.
* Create a table of Data Science tools.
* Demonstrate basic arithmetic operations in Python.

## Author
Manas Beke